<a href="https://colab.research.google.com/github/teja-1403/PRODIGY_ML_01/blob/main/house_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PRODIGY_ML_01**

# House Price Prediction using Linear Regression

1. Import necessary libraries

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

2. Load the datasets

In [ ]:
train = pd.read_csv('/kaggle/input/task-1/TASK 1/train.csv')
test = pd.read_csv('/kaggle/input/task-1/TASK 1/test.csv')

In [ ]:
print("Train Dataset Info:")
train.info()

Train Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [ ]:
print("\nTrain Dataset Description:")
train.describe()

Train Dataset Description:

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [ ]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

3. Data preprocessing

We will focus only on numerical features since our linear regression model only works with numerical data.

In [ ]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
train = train.select_dtypes(include=numerics)
test = test.select_dtypes(include=numerics)

In [ ]:
train.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,192,84,0,0,0,0,0,12,2008,250000

In [ ]:
# Drop columns with null values
train = train.loc[:, train.isnull().sum() == 0]
test = test.loc[:, train.columns.drop(['SalePrice'])]

In [ ]:
train.head()

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,8450,7,5,2003,2003,706,0,150,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,9600,6,8,1976,1976,978,0,284,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,11250,7,5,2001,2002,486,0,434,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,9550,7,5,1915,1970,216,0,540,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,14260,8,5,2000,2000,655,0,490,...,192,84,0,0,0,0,0,12,2008,250000

4. Splitting data

In [ ]:
# Splitting the data into features (X) and target variable (y)
X = train[train.columns.drop(['SalePrice'])]
y = train[['SalePrice']]

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
print("Original train shape:", X.shape)
print("X_train shape:", X_train.shape)
print("X_val shape:", X_val.shape)
print("y_train shape:", y_train.shape)
print("y_val shape:", y_val.shape)

Original train shape: (1460, 34)
X_train shape: (978, 34)
X_val shape: (482, 34)
y_train shape: (978, 1)
y_val shape: (482, 1)

5. Feature Scaling

Feature scaling is crucial when training machine learning models, especially for models like linear regression, which rely on gradient-based optimization methods. The features in our dataset have different scales (e.g., square footage vs. overall quality), which can negatively impact the model's performance.

We apply **standardization**, which scales the features to have a mean of 0 and a standard deviation of 1. This ensures that each feature contributes equally to the model.

In [ ]:
# Feature scaling to standardize the data (zero mean, unit variance)
sc = StandardScaler()

# Fit the scaler on the training data and transform both training and validation sets
X_train_sc = sc.fit_transform(X_train)
X_val_sc = sc.transform(X_val)

In [ ]:
X_train_sc[:5]

array([[-0.26347343,  0.64818752, -0.16826381, -0.08733695,  1.28679438,
        -0.26050401, -1.05296364,  0.68359419, -0.27472719, -0.89165743,
        -0.2754465 , -0.29259108, -0.8023907 , -0.11867659, -0.90140587,
         1.1083909 , -0.25123302, -1.07068735, -0.75698076,  0.14496452,
        -0.21467306, -0.3305751 , -0.94121794,  0.29309491,  0.01333232,
         0.17281309, -0.71539022, -0.34589803, -0.12201084, -0.27617729,
        -0.06304032, -0.1246488 , -0.51681818,  1.65360578],
       [-0.26815196, -0.86866433, -0.20272184, -0.81738431, -0.50975794,
         1.1709873 ,  1.06754981, -0.52794254, -0.27472719,  0.77740456,
         0.13575922, -0.12299393, -0.8023907 , -0.11867659, -0.77524212,
        -0.81360608, -0.25123302, -1.07068735, -0.75698076,  0.14496452,
        -0.21467306, -0.3305751 , -0.94121794, -2.43687485, -2.27254222,
        -0.74014413, -0.2848442 , -0.34589803, -0.12201084, -0.27617729,
        -0.06304032, -0.1246488 ,  2.10986129, -0.60614241],
       [ 1.34594062, -0.86866433, -0.17796054,  0.6427104 , -0.50975794,
         1.10591951,  0.97116284, -0.97601537, -0.27472719,  2.35862119,
         1.24422683,  1.15155436, -0.8023907 , -0.11867659,  0.17289758,
        -0.81360608, -0.25123302,  0.76638674, -0.75698076,  0.14496452,
        -0.21467306,  0.28759402, -0.94121794,  1.6580798 ,  1.6991648 ,
         0.84231506,  0.13135029, -0.34589803, -0.12201084, -0.27617729,
        -0.06304032, -0.1246488 , -0.8920581 , -1.35939181],
       [-0.56523856, -0.86866433, -0.03934924, -0.81738431,  1.28679438,
        -0.19543622, -0.95657667,  0.84237728, -0.27472719, -0.74750093,
         0.03072298, -0.24376766, -0.8023907 , -0.11867659, -0.86508601,
         1.1083909 , -0.25123302, -1.07068735,  1.2657711 ,  0.14496452,
        -0.21467306, -0.3305751 , -0.94121794,  0.29309491,  0.18001067,
        -0.74014413, -0.71539022, -0.34589803, -0.12201084, -0.27617729,
        -0.06304032, -0.1246488 , -0.14157825, -0.60614241],
       [-0.38979372, -0.86866433, -0.06350449, -0.81738431, -0.50975794,
         0.09736882, -0.47464179,  1.35352832,  0.53618787, -0.84210364,
         0.73692411,  0.56824295, -0.8023907 , -0.11867659, -0.26102926,
         1.1083909 , -0.25123302, -1.07068735, -0.75698076, -1.0878642 ,
        -0.21467306, -0.3305751 ,  0.59552855,  0.29309491, -0.28192647,
         1.08577032, -0.17003193, -0.34589803, -0.12201084, -0.27617729,
        -0.06304032, -0.1246488 , -0.8920581 , -1.35939181]])

6. Model Training

In [ ]:
# Train the Linear Regression model
model = LinearRegression()
model.fit(X_train_sc, y_train)

LinearRegression()

Model's coefficients represent the strength and direction of the relationship between each feature and the target variable (SalePrice). A higher absolute coefficient indicates a more influential feature in predicting the target variable.

In [ ]:
print("Model coefficients:", model.coef_)

Model coefficients: [[-1.00019704e+03 -8.09169166e+03  5.04371920e+03  2.57898713e+04
   2.87679614e+03  9.26638638e+03  4.11245236e+03 -1.29728117e+17
  -4.28001461e+16 -1.25274087e+17  1.26262440e+17  6.10246520e+16
   6.88051939e+16  7.42544934e+15 -8.20331283e+16  6.07056766e+03
   1.36652054e+02  3.07802469e+03  2.68245520e+02 -7.98416346e+03
  -2.47789974e+03  1.11325480e+04  3.10134729e+03  8.78584128e+03
   9.13338311e+02  3.85150587e+03 -8.85668767e+02  6.98254505e+02
   1.60338659e+03  5.22380301e+03 -5.95362673e+03 -4.71611415e+02
  -2.21965015e+02 -1.51134558e+02]]

7. Model Evaluation

After training the model, we predict the house prices on the **validation data** (`X_val_sc`) and compare the predictions (`y_pred`) with the true target values (`y_val`).

We use **Mean Squared Error (MSE)** and **Root Mean Squared Error (RMSE)** as the evaluation metrics:
- **MSE** measures the average squared difference between predicted and actual values.
- **RMSE** is the square root of MSE and provides the error in the same units as the target variable (SalePrice), which makes it easier to interpret.

These metrics help us understand how well the model is performing and how much error to expect on average in predicting house prices.

In [ ]:
# Predict on the validation set
y_pred = model.predict(X_val_sc)

# Calculate the Mean Squared Error (MSE) and Root Mean Squared Error (RMSE)
MSE = mean_squared_error(y_val, y_pred)
RMSE = np.sqrt(MSE)

print("Mean Squared Error:", MSE)
print("Root Mean Squared Error:", RMSE)

Mean Squared Error: 1608859330.696775
Root Mean Squared Error: 40110.588760285915

In [ ]:
# Scale the test data
X_test_sc = sc.transform(test.fillna(0))

# Predict the house prices on the test data
test_pred = model.predict(X_test_sc)

In [ ]:
# Prepare the submission file
sample_submission = pd.read_csv('/kaggle/input/task-1/TASK 1/sample_submission.csv')
sub = pd.DataFrame({'Id': sample_submission.Id, 'SalePrice': test_pred.reshape(-1)})

In [ ]:
# Save the submission file
sub.to_csv('submission.csv', index=False)

In [ ]:
submission = pd.read_csv('submission.csv')

In [ ]:
submission.head()

     Id      SalePrice
0  1461  125345.093620
1  1462  140565.051387
2  1463  173783.491962
3  1464  202130.523828
4  1465  201475.116973

In this notebook, we implemented a **Linear Regression** model to predict house prices based on features like square footage, number of bedrooms, and bathrooms.

The model's performance was evaluated using **Mean Squared Error (MSE)** and **Root Mean Squared Error (RMSE)**, which gave us an understanding of how well the model generalizes to new, unseen data.

### Recommendations
- **Feature Engineering**: To improve the model's performance, we could experiment with additional features (e.g., neighborhood, year built) or create new features (e.g., price per square foot).
- **Regularization**: If overfitting becomes a problem, we could explore regularization techniques such as **Ridge** or **Lasso regression**.
- **Model Improvement**: Linear regression is a simple model, and we could try more complex models (e.g., decision trees, random forests, or gradient boosting) to see if they yield better results.

This process can be iterated, and the model can be improved with further feature selection, data preprocessing, and model tuning.